.skills-section {
  flex: 1;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // border: 2px solid black;

  .skills-container {
    width: 100%;
    margin-top: 3rem;
    display: flex;
    // background-color: red;

    .categories-container {
      flex: 1;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: flex-start;
      // background-color: pink;
    }
  }

  @media screen and (max-width: 1000px) {
    .categories-container {
      gap: 2rem;
    }
  }
}
