.about {
  flex: 1;
  width: 100%;
  display: flex;

  .about-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 100%;
    // gap: 2rem;
    // border: 2px solid red;

    .about-intro {
      width: 80%;
      display: flex;
      align-items: center;
      justify-content: center;
      // border: 2px solid pink;
      margin-top: 1rem;

      @media screen and (max-width: 1250px) {
        margin-top: 2.5rem;
      }
      @media screen and (max-width: 650px) {
        margin-top: 1rem;
      }

      .about-intro__avatar-container {
        width: 30%;
        display: flex;
        justify-content: flex-end;
        // border: 2px solid teal;

        @media screen and (max-width: 650px) {
          justify-content: center;
        }

        img {
          // width: 50%;
          border-radius: 50%;
          width: 12vw;

          @media screen and (max-width: 1125px) {
            width: 15vw;
          }
          @media screen and (max-width: 800px) {
            width: 20vw;
          }
          @media screen and (max-width: 750px) {
            width: 25vw;
          }
          @media screen and (max-width: 500px) {
            width: 30vw;
          }
          @media screen and (max-width: 400px) {
            width: 35vw;
          }
          @media screen and (max-width: 300px) {
            width: 40vw;
          }
        }

        @media screen and (max-width: 290px) {
          display: none;
        }
      }

      .about-intro__text-container {
        // border: 2px solid yellow;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        width: 70%;
        height: 100%;

        @media screen and (max-width: 400px) {
          width: 75%;
        }

        @media screen and (max-width: 800px) {
          font-size: 0.85rem;
        }

        .about-intro__text {
          flex-direction: column;
          // border: 2px solid purple;

          p {
            // background-color: brown;

            display: flex;
            flex-direction: column;
            align-items: flex-start;
            font-size: 1.1rem;
            text-align: left;
            width: 85%;
            color: var(--grey-light);

            @media screen and (max-width: 1450px) {
              font-size: 1rem;
            }
          }

          @media screen and (max-width: 600px) {
            p {
              font-size: 0.85rem;
            }
          }

          @media screen and (max-width: 650px) {
            p {
              width: 95%;
            }
          }
        }
      }

      // @media screen and (max-width: 1650px) {
      //   width: 48%;
      // }
      // @media screen and (max-width: 1600px) {
      //   width: 48%;
      // }
      // @media screen and (max-width: 1450px) {
      //   width: 50%;
      // }
      // @media screen and (max-width: 1400px) {
      //   width: 52%;
      // }
      // @media screen and (max-width: 1400px) {
      //   width: 55%;
      // }
      // @media screen and (max-width: 1400px) {
      //   width: 65%;
      // }
      // @media screen and (max-width: 1075px) {
      //   width: 68%;
      // }
      // @media screen and (max-width: 1000px) {
      //   width: 72%;
      // }
      // @media screen and (max-width: 750px) {
      //   width: 80%;
      // }
      @media screen and (max-width: 650px) {
        width: 95%;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h2 {
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
        }
      }
    }

    .about__slider-container {
      // border: 2px solid burlywood;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
  }
}
