#home {
    position: relative;
    background: url('./../../assets/images/header_background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: repeat;

    .app-container { padding: 0; }
}

.header {
    flex: 1;
    width: 100%;
    height: 100%;
    flex-direction: column;
    


    .h-text::selection {
        background: var(--primary-dark-a); 
    }
    .h-text::-moz-selection {
        background: var(--primary-dark-a);
    }
    .p-text::selection {
        background: var(--primary-dark-a);
    }
    .p-text::-moz-selection {
        background: var(--primary-dark-a);
    }
      

.header-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
   



    @media screen and (max-width: 1200px) {
        width: 100%;
        margin-right: 0rem;
    }
}

.header-text {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--white);
 


    .header-text-container {
        flex-direction: column;
        color: var(--white);
        width: 100%;
        width: 100%;


        .greeting {
            width: 100%;
            color: var(--white);
            font-size: 1.5rem;
            text-align: center;

            span {
                font-size: 2.5rem;
                padding-right: 1.5rem;
    
            }

        }

        .intro {
            flex-direction: column;
            align-items: center;
            width: 100%;
            margin-top: 1rem;
   

            h1 {
                color: var(--white);
                margin-bottom: 5px;
            }

            .job-title {
                flex-direction: column;
                align-items: center;
                color: var(--white);
           
                width: 100%;
                text-align: right;
                color: var(--white);
                font-size: 2rem;
                font-weight: 700;
              
             
            }
        }
    }
}


.header-img{
    display: flex;
    justify-content: center;
    align-items: center;
    
    img {
        width: 100%;
        padding: 25%;
    
    }

}


.contact-icons {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
  
    div {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin: 0.25rem 0;
      border: 1px solid var(--lightgray);
  
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.3s ease-in-out;
  
      svg {
        width: 25px;
        height: 25px;
        color: var(--gray);
      }
  
      &:hover {
       
        svg { 
          color: var(--white); }
  
      }
  
      @media screen and (min-width: 2000px) {
        width: 70px;
        height: 70px;
  
        margin: 0.5rem 0;
  
        svg {
          width: 30px;
          height: 30px;
        }
      }
    }
  }
}