.skills-category {
  // border: 2px solid pink;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  gap: 5rem;

  h2 {
    background: linear-gradient(
      to right,
      rgba(128, 128, 128, 0.5),
      rgba(159, 169, 184, 0.9)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;

    font-weight: 500;
    width: 15rem;
    text-align: right;
  }

  .skills-list {
    display: flex;
    flex-direction: row;
    flex: 1;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
  }

  @media screen and (min-width: 2000px) {
    h2 {
      font-size: 1.8rem;
    }
  }

  @media screen and (max-width: 1150px) {
    h2 {
      font-size: 1.5rem;
    }
  }

  @media screen and (max-width: 1030px) {
    flex-direction: column;
    gap: 8px;
    h2 {
      background: linear-gradient(
        to right,
        rgba(250, 95, 196, 0.623),
        rgba(198, 111, 167, 0.881)
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
      width: 100%;
      text-align: center;
      margin-left: 0rem;
      padding-top: 15px;
    }

    .skills-list {
      justify-content: center;
    }
  }
}
