/** flexbox -> centering elements **/
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

/** heading text **/
.h-text {
  font-size: 2.75rem;
  font-weight: 800;
  text-align: center;
  color: var(--primary-dark);
  text-transform: capitalize;

  span {
    color: var(--secondary);
  }

  @media screen and (min-width: 2000px) {
    font-size: 4rem;
  }

  @media screen and (max-width: 450px) {
    font-size: 2rem;
  }
}

/** parargraph text **/
.p-text {
  font-size: 0.8rem;
  text-align: left;
  color: var(--gray);
  line-height: 1.5;

  @media screen and (min-width: 2000px) {
    font-size: 1.75rem;
  }
}

*::selection {
  background: var(--primary-light);
}
*::-moz-selection {
  background: var(--primary-light);
}


  
.bold {
  font-size: 1rem;
  font-weight: 800;
  color: var(--black);
  text-align: left;

  @media screen and (min-width: 2000px) {
    font-size: 2rem;
  }

  @media screen and (max-width: 450px) {
    font-size: 0.9rem;
  }
}

.contact-icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  padding: 1rem;

  div {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--white);
    margin: 0.25rem 0;
    border: 1px solid var(--lightGray);

    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;

    svg {
      width: 15px;
      height: 15px;
      color: var(--gray);
    }

    &:hover {
      background-color: var(--secondary);
      border-color: var(--secondary);

      svg { 
        color: var(--white); }

    }

    @media screen and (min-width: 2000px) {
      width: 70px;
      height: 70px;

      margin: 0.5rem 0;

      svg {
        width: 30px;
        height: 30px;
      }
    }
  }
}


.nav-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;

  .nav-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #cbcbcb;
    margin: 0.5rem;
    transition: background-color 0.2s ease-in-out;

    &:hover {
      background-color: var(--secondary);
    }

    @media screen and (min-width: 2000px) {
      width: 20px;
      height: 20px;
    }
  }
}

@media screen and (max-width: 500px) {
  .nav-dots,
  .contact-icons {
    display: none;
  }
}










.app {
    background-color: var(--primary);
    font-family: var(--font-base);
  }
  
  .bg-white {
    background-color: var(--white);
  }
  
  .bg-primary {
    background-color: var(--primary);
  }
  
  .app-container {
    width: 100%;
    min-height: 100vh;
  
    display: flex;
    flex-direction: row;
  }
  

  
  .app-wrapper {
    flex: 1;
    width: 100%;
    flex-direction: column;
    padding: 4rem 2rem;
  
    @media screen and (max-width: 450px) {
      padding: 4rem 1rem 2rem;
    }
  }
  

  



  

  
