
/* font imports */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

:root {
  /* font variables */
  --font-base: "DM Sans", sans-serif;

  /* color variables */
  --primary: #edf2f8;
  --secondary: #313bac;
  --black: #030303;
  --light-gray: #e4e4e4;
  --gray: #6b7688;
  --brown: #46364a;
  --white: #ffffff;

  --green: darkolivegreen;
}

/* targeting all elements */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

ul {
  
}

a {
  text-decoration: none;
}
