.navbar {
    background-color: rgba(9, 59, 36, 0.794);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);

    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    border: 1px solid rgba(255, 255, 255, 0.18);
    position: fixed;
    z-index: 2;
}

.navbar-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    img {
        width: 60px; 
    }

    @media screen and (min-width: 2000px) {
        width: 180px;
    }
}

.nav-links-list {
    display: flex;
    justify-content: center;
    align-items: center;

    li {
        margin: 0 1rem;
        flex-direction: column;


        div {
            width: 5px;
            height: 5px;
            background: transparent;
            border-radius: 50%;
            margin-bottom: 5px;
            transition: all 0.3s ease-in-out;


        }

        a {
            // color: var(--gray);
            color: rgb(142, 228, 239);
            flex-direction: column;
            // text-transform: uppercase;
            font-weight: 400;
            font-size: 1.25rem;
            transition: all 0.3s ease-in-out;
            &:hover {
               color: var(--secondary);
            }
        }
        &:hover {
            div {
                background: var(--secondary);
            }
        }
    }

    @media screen and (max-width: 900px) {
        display: none;
    }

}

.hamburger {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary);

    svg { // hamburger icon
        width: 70%;
        height: 70%;
        color: var(--white);
    }

    div {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: 5;
        padding: 1rem;
        width: 80%;
        height: 100vh;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        flex-direction: column;
        background-color: var(--white);
        box-shadow: 0 0 20px rgba(168, 168, 168, 0.15);



        /**
        background: url();
        background-size: cover;
        background-repeat: repeat;
         **/

        svg { // close icon
            width: 35px;
            height: 35px;
            color: var(--secondary);
            margin: 0.5rem 1rem;
        }

        ul {
            margin: 0;
            padding: 0;
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;

            li {
                margin: 1rem;
                a {
                    color: var(--gray);
                    font-size: 1rem;
                    // text-transform: uppercase;
                    font-weight: 500;
                    transition: all 0.3s ease-in-out;
                    &:hover {
                       color: var(--secondary);
                    }
                }
            }
        }

        @media screen and (min-width: 900px) {
            display: none;
        }
    }

    @media screen and (min-width: 900px) {
        display: none;
    }

}